{% extends "base.html" %}
{% load static %}

{% block title %}Учеба{% endblock %}
{% block page_header %}Учеба{% endblock %}

{% block content %}

<center>
  {% for study in object_list %}
    <a href="{{ study.school.organization_url }}" target="_blank">
      <img src="{% static "img/" %}{{ study.school.logo_file }}" width="{{ study.school.logo_width }}" />
    <h4>{{ study.school }}</h4>
    </a>
    {% if study.certificate_url %}
      <a href="{{ study.certificate_url }}" target="_blank">
        <p>{{ study.specialization }}</p>
      </a>
    {% else %}
      <p>{{ study.specialization }}</p>
    {% endif %}
    <hr />
  {% endfor %}
</center>

{% endblock %}
