<pre style='background: none; border: none;'>
  <span style='color:#800000; font-weight:bold; '>class</span> Organization<span style='color:#808030; '>(</span>models<span style='color:#808030; '>.</span>Model<span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
    name <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Организация'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>100</span><span style='color:#808030; '>,</span> blank<span style='color:#808030; '>=</span><span style='color:#074726; '>False</span><span style='color:#808030; '>)</span>
    logo_file <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Логотип'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>30</span><span style='color:#808030; '>,</span> blank<span style='color:#808030; '>=</span><span style='color:#074726; '>False</span><span style='color:#808030; '>)</span>
    logo_width <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Ширина логотипа'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>10</span><span style='color:#808030; '>,</span> default<span style='color:#808030; '>=</span><span style='color:#0000e6; '>'200px'</span><span style='color:#808030; '>,</span> blank<span style='color:#808030; '>=</span><span style='color:#074726; '>False</span><span style='color:#808030; '>)</span>
    organization_url <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>URLField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Ссылка на сайт'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>100</span><span style='color:#808030; '>,</span> blank<span style='color:#808030; '>=</span><span style='color:#074726; '>False</span><span style='color:#808030; '>)</span>
    <b><u>city</u></b> <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Город'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>100</span><span style='color:#808030; '>)</span>
    <b><u>address</u></b> <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Адрес'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>150</span><span style='color:#808030; '>)</span>
    <b><u>phone</u></b> <span style='color:#808030; '>=</span> models<span style='color:#808030; '>.</span>CharField<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'Телефон'</span><span style='color:#808030; '>,</span> max_length<span style='color:#808030; '>=</span><span style='color:#008c00; '>100</span><span style='color:#808030; '>)</span>

  <span style='color:#800000; font-weight:bold; '>def</span> <span style='color:#074726; '>__str__</span><span style='color:#808030; '>(</span>self<span style='color:#808030; '>)</span><span style='color:#808030; '>:</span>
    <span style='color:#800000; font-weight:bold; '>return</span> self<span style='color:#808030; '>.</span>name
</pre>
