{% verbatim %}
<pre style='background: none; border: none;'>{% extends "base<span style='color:#008c00; '>.</span>html" %}
{% load static %}

{% block title %}{{object<span style='color:#008c00; '>.</span>name}}{% endblock %}
{% block page_header %}{{object<span style='color:#008c00; '>.</span>name}}{% endblock %}

{% block content %}

<span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>center</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#274796; '> </span><span style='color:#074726; '>href</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{ object.organization_url }}"</span><span style='color:#274796; '> </span><span style='color:#074726; '>target</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"_blank"</span><span style='color:#a65700; '>></span>
      <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>img</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{% static "</span><span style='color:#274796; '>img/</span><span style='color:#0000e6; '>" %}{{ object.logo_file }}"</span><span style='color:#274796; '> </span><span style='color:#074726; '>width</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{ object.logo_width }}"</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#274796; '> </span><span style='color:#074726; '>href</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{% url 'organization' object.id %}"</span><span style='color:#a65700; '>></span>
      <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>h4</span><span style='color:#a65700; '>></span>{{ object<span style='color:#008c00; '>.</span>company }}<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>h4</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>{{ object<span style='color:#008c00; '>.</span>city }}, {{ object<span style='color:#008c00; '>.</span>address }}<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>{{ object<span style='color:#008c00; '>.</span>phone }}<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>

<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>center</span><span style='color:#a65700; '>></span>

{% endblock %}
</pre>
{% endverbatim %}
