<pre style='background: none; border: none;'>
<span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>label</span><span style='color:#274796; '> </span><span style='color:#074726; '>class</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"checkbox-inline"</span><span style='color:#a65700; '>></span>
      <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>input</span><span style='color:#274796; '> </span><span style='color:#074726; '>class</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"show_works"</span><span style='color:#274796; '> </span><span style='color:#074726; '>type</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"checkbox"</span><span style='color:#274796; '> </span><span style='color:#074726; '>checked</span><span style='color:#274796; '> </span><span style='color:#074726; '>data</span><span style='color:#274796; '>-toggle</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"toggle"</span><span style='color:#274796; '>  </span><span style='color:#074726; '>data</span><span style='color:#274796; '>-off</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"3 последних&lt;br />места"</span><span style='color:#274796; '> </span><span style='color:#074726; '>data</span><span style='color:#274796; '>-on</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"Все&lt;br />места"</span><span style='color:#a65700; '>></span>
<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>label</span><span style='color:#a65700; '>></span>
</pre>
