{% verbatim %}
<pre style='background: none; border: none;'>url<span style='color:#808030; '>(</span><span style='color:#0000e6; '>r'^organization/(?P&lt;pk>[0-9]+)/$'</span><span style='color:#808030; '>,</span> OrganizationDetailsView<span style='color:#808030; '>.</span>as_view<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> name<span style='color:#808030; '>=</span><span style='color:#0000e6; '>'organization'</span><span style='color:#808030; '>)</span>
</pre>
{% endverbatim %}
