{% verbatim %}
<pre style='background: none; border: none;'><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>center</span><span style='color:#a65700; '>></span>
  {% for work in object_list %}
    <b><u><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#274796; '> </span><span style='color:#074726; '>href</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{ work.company.organization_url }}"</span><span style='color:#274796; '> </span><span style='color:#074726; '>target</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"_blank"</span><span style='color:#a65700; '>></span></u></b>
      <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>img</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{% static "</span><span style='color:#274796; '>img/</span><span style='color:#0000e6; '>" %}{{ work.company.logo_file }}"</span><span style='color:#274796; '> </span><span style='color:#074726; '>width</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{ work.company.logo_width }}"</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#a65700; '>></span>
    <b><u><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#274796; '> </span><span style='color:#074726; '>href</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{% url 'organization' work.company.id %}"</span><span style='color:#a65700; '>></span></u></b>
      <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>h4</span><span style='color:#a65700; '>></span>{{ work<span style='color:#008c00; '>.</span>company }}<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>h4</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>a</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>{{ work<span style='color:#008c00; '>.</span>specialization }}<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>p</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>hr</span><span style='color:#274796; '> </span><span style='color:#a65700; '>/></span>
  {% endfor %}
<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>center</span><span style='color:#a65700; '>></span>
</pre>
{% endverbatim %}
