{% extends "base.html" %}
{% load static %}

{% block title %}Обо мне{% endblock %}
{% block page_header %}Обо мне{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <img src="{% static "img/me.jpg" %}" class="img-thumbnail">
  </div>
  <div class="col-md-5">
    <div class="jumbotron">
      <h3>
        {{ my_name }}, {{ birth_date|date:'Y' }}
      </h3>
      <table class='table'>
      {% for hobby in my_hobbies %}
        <tr>
          <td>
            <i class="fa {{ hobby.icon }} fa-3x" aria-hidden="true"></i>
          </td>
          <td style="vertical-align: middle;">
            {{ hobby.hobbie_name }}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
