{% extends "base.html" %}

{% block page_header %}Домашнее задание №2{% endblock %}

{% block content %}

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td>
      1. Используя наследование шаблонов, выделить общие элементы вашего сайта
      в&nbsp;родительский шаблон base.html, наследуйте все текущие страницы
      от&nbsp;него.
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
  <tr>
    <td>
      2. Все данные о&nbsp;себе (ФИО, хобби, места работы и&nbsp;учебы) вынести
      из&nbsp;шаблонов, сохранив в&nbsp;переменных Python в&nbsp;удобной вам
      структуре. Проверить, чтобы все отображается корректно, если
      в&nbsp;python-коде добавить новые данные (например, добавить новое хобби
      или удалить несколько старых). Также добавить корректное отображение
      в&nbsp;случае отсутствия данных.
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
  <tr>
    <td>
      3. Продолжить работать над визуальной частью сайта (например, добавить
      иконки для хобби и/или добавить ссылки на&nbsp;сайты учебных заведений,
      в&nbsp;которых вы&nbsp;учились).
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
  <tr>
    <td>
      4. * Дату вашего рождения в&nbsp;контексте сохраните в&nbsp;виде date().
      А&nbsp;в&nbsp;шаблоне выведите в&nbsp;удобном виде, используя шаблонный
      фильтр date.
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
</table>

{% endblock %}
