{% extends "base.html" %}
{% load static %}

{% block title %}Обо мне{% endblock %}
{% block page_header %}Обо мне{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <img src="{% static "img/me.jpg" %}" class="img-thumbnail">
  </div>
  <div class="col-md-5">
    <div class="jumbotron">
      <h3>
        Городецкий Константин, 1982
      </h3>
      <div>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        Программирование
      </div>
      <div>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        Фотография
      </div>
      <div>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        Литература
      </div>
    </div>
  </div>
</div>

{% endblock %}
