{% extends "base.html" %}

{% block page_header %}Домашнее задание №1{% endblock %}

{% block content %}

<div class="list-group">
  <span class="list-group-item">
    1. Установить django и&nbsp;создать новый проект (назвать произвольным
    именем), добавить в&nbsp;проект одно приложение.
  </span>
  <a href="{% url 'about_me' %}" class="list-group-item">
    2. Создать главную статическую страницу &laquo;About me&raquo;.
    На&nbsp;странице разместить немного информации о&nbsp;себе (ФИО, год
    рождения, фотографию, хобби). Оформить страницу насколько сможете,
    постарайтесь сделать красиво, обязательно используйте CSS.
  </a>
  <span class="list-group-item">
    3.	На&nbsp;главной странице сделать меню с&nbsp;пунктами
    &laquo;Учеба&raquo;, &laquo;Работа&raquo;.
  </span>
  <a href="{% url 'study' %}" class="list-group-item">
    4.	Создать отдельную html с&nbsp;информацией о&nbsp;месте (местах) своего
    обучения (школа, институт, доп.курсы). Сделать несложное оформление.
    Добавить возможность перехода на&nbsp;текущую страницу с&nbsp;главной
    и&nbsp;возможность вернуться на&nbsp;главную.
  </a>
  <a href="{% url 'work' %}" class="list-group-item">
    5.	То&nbsp;же, что в&nbsp;предыдущем пункте, но&nbsp;для
    &laquo;Работы&raquo;. Если нигде не&nbsp;работали, то&nbsp;напишите
    несколько слов о&nbsp;месте желаемой работы или месте подработки.
  </a>
</div>

{% endblock %}
