{% extends "base.html" %}
{% load static %}

{% block title %}Учеба{% endblock %}
{% block page_header %}Учеба{% endblock %}

{% block content %}

<center>

  <img src="{% static "img/geekbrains.png" %}" width="200px">
  <h4>Обучающий портал Geekbrains</h4>
  <p>2015, Python. Уровень 1. Основы языка</p>
  <hr />

  <img src="{% static "img/sl.jpg" %}" width="300px">
  <h4>Учебный центр Softline</h4>
  <p>2015, ITIL3F Основы ITILv3 - 2011</p>
  <hr />

  <img src="{% static "img/stepic.jpg" %}" width="200px">
  <img src="{% static "img/bi.png" %}" width="250px">
  <h4>Онлайн курсы stepic.org & Bioinformatics Institute</h4>
  <p>2014, Программирование на Python</p>
  <hr />

  <img src="{% static "img/togu.jpg" %}" width="250px">
  <h4>Тихоокеанский государственный университет, Хабаровск</h4>
  <p>2008, Институт информационных технологий, инженер-системотехник</p>

</center>

{% endblock %}
