{% extends "base.html" %}
{% load static %}

{% block title %}Работа{% endblock %}
{% block page_header %}Работа{% endblock %}

{% block content %}

<center>

  <img src="{% static "img/tn3.png" %}" width="300px">
  <h4>ООО &laquo;Транснефть&nbsp;&mdash; Дальний Восток&raquo; Хабаровск</h4>
  <p>2014, Начальник ИТ-сектора</p>
  <hr />

  <img src="{% static "img/tn2.jpg" %}" width="250px">
  <h4>БПО Нерюнгри ООО &laquo;Востокнефтепровод&raquo;</h4>
  <p>2010, Инженер-электроник</p>
  <hr />

  <img src="{% static "img/tn1.png" %}" width="200px">
  <h4>НПС-14 Олекминск ООО &laquo;Востокнефтепровод&raquo;</h4>
  <p>2009, Инженер-электроник</p>
  <hr />

  <img src="{% static "img/dsv.png" %}" width="300px">
  <h4>ОАО &laquo;Дальсвязь&raquo; Хабаровск</h4>
  <p>2008, Инженер-программист</p>
  <hr />

  <img src="{% static "img/baltika.jpg" %}" width="300px">
  <h4>Завод &laquo;Балтика-Хабаровск&raquo;</h4>
  <p>2008, Инженер-электроник</p>

</center>

{% endblock %}
