{% extends "base.html" %}
{% load static %}

{% block title %}Работа{% endblock %}
{% block page_header %}Работа{% endblock %}

{% block content %}

<center>
  {% for work in object_list %}
    <a href="{{ work.company.organization_url }}" target="_blank">
      <img src="{% static "img/" %}{{ work.company.logo_file }}" width="{{ work.company.logo_width }}">
      <h4>{{ work.company }}</h4>
    </a>
    <p>{{ work.specialization }}</p>
    <hr />
  {% endfor %}
</center>

{% endblock %}
