{% extends "base.html" %}

{% block page_header %}Домашнее задание №3{% endblock %}

{% block content %}

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td>
      1. Пользуясь консольными командами, добавить свои места работы в БД.
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
  <tr>
    <td>
      2. По аналогии сделать модели для ваших хобби и мест учебы. Не забывайте выполнять миграции, после
      изменения/добавления моделей. Если всё сломается, не бойтесь, удаляйте файл БД и начинайте заново, эту цепочку
      полезно пройти несколько раз. Если нет желания вводить одни и те же данные много раз - подумайте, как можно этого
      избежать (вы программисты, ваша задача - избегать рутинных и монотонных задач). Используя данные из заполненной
      БД, отобразить всю информацию. <br />P.S. : Если не можете придумать поля для хобби, возьмите, например, такие:
      название, ссылка на иконку (путь к файлу с картинкой), с какого года увлекаетесь.
    </td>
    <td class="success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
  <tr>
    <td>
      3. Напишите скрипт, заполняющий БД тестовыми данными. Сделайте любыми доступными вам средствами. В следующих
      уроках мы рассмотрим как это сделать, а пока поробуйте сами.
    </td>
    <td class="warning">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </td>
  </tr>
</table>

{% endblock %}
