{% extends "base.html" %}

{% block page_header %}Домашнее задание №4{% endblock %}

{% block content %}

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <td>
      1. В своей копии проекта отделить модель Организации, добавив еще
      пару-тройку полей (например, адрес и номер телефона). Пересоздать БД
      заново, и наполнить её информацией, используя скрипт.
    </td>
  </tr>
  <tr>
    <td class="success">
      <ul>
        <li>Модель Organization была создана в ДЗ №3</li>
        <li>Добавил поля city, address, phone</li>
        {% include 'snippets/models.html' %}
        <li>Пересоздал БД</li>
        <li>Наполнил информацией</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      2. На странице отображения мест работы, имена организаций сделать в виде
      гиперссылок, при переходе по которым должна показываться карточка данной
      организации с полной информацией об организации. Не забудте сделать
      отдельный шаблон, для отображения информации об организации. <br />
      P.S. Чтобы реализовать правильные url-адреса для организаций почитайте
      этот раздел djangobook.
    </td>
  </tr>
  <tr>
    <td class="success">
      <ul>
        <li>
          На странице <a href="{% url 'work' %}">Работа</a> поправил ссылки:
          теперь при нажатии на логотип просходит переход на официальный сайт
          организации, а при нажатии на название - переход на карточку организации
          {% include 'snippets/work_list.html' %}
        </li>
        <li>
          Добавил карточки организаций
          {% include 'snippets/organization.html' %}
        </li>
        <li>
          Для перехода к карточке организации подготовил соответсвующий url-шаблон
          {% include 'snippets/url.html' %}
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      3. * (усложненное) На странице «Работа» добавьте флаг(check-box), который
      позволит отбражать только последние три места работы. Если у вас три или
      меньше места работы, добавьте несколько произвольных мест для проверки
      данного фильтра.
    </td>
    </tr>
    <tr>
      <td class="success">
        <ul>
          <li>
            На странице <a href="{% url 'work' %}">Работа</a> добавил переключатель
            {% include 'snippets/switcher.html' %}
          </li>
          <li>
            Добавил js-обработчик в js/scripts.js
            {% include 'snippets/js.html' %}
          </li>
        </ul>
      </td>
    </tr>
</table>

{% endblock %}
