<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ДЗ 4</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% with request.resolver_match.url_name as url_name %}
        <li
          {% if url_name == 'main_page' %}
            class="active"
          {% endif %}>
          <a href="{% url 'main_page' %}">Главная</a>
        </li>
        <li
          {% if url_name == 'about_me' %}
            class="active"
          {% endif %}>
          <a href="{% url 'about_me' %}">Обо мне</a>
        </li>
        <li
          {% if url_name == 'study' %}
            class="active"
          {% endif %}>
          <a href="{% url 'study' %}">Учеба</a>
        </li>
        <li
          {% if url_name == 'work' %}
            class="active"
          {% endif %}>
          <a href="{% url 'work' %}">Работа</a>
        </li>
        {% endwith %}
      </ul>
    </div>
  </div>
</nav>
