<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница сайта</title>
    <style></style>
</head>
<body>
<a href="/">Главная</a>
<a href="/about/">Обо мне</a>
<a href="/works/">Опыт работы</a>
<h1>Hello, world!</h1>
<h2>Меня зовут {{ my_name }}</h2>
</body>
</html>