{% extends "base.html" %}
{% load static %}

{% block title %}{{object.name}}{% endblock %}
{% block page_header %}{{object.name}}{% endblock %}

{% block content %}

<center>
    <a href="{{ object.organization_url }}" target="_blank">
      <img src="{% static "img/" %}{{ object.logo_file }}" width="{{ object.logo_width }}">
    </a>
    <a href="{% url 'organization' object.id %}">
      <h4>{{ object.company }}</h4>
    </a>
    <p>{{ object.city }}, {{ object.address }}</p>
    <p>{{ object.phone }}</p>

</center>

{% endblock %}
