{% extends "base.html" %}
{% load static %}

{% block title %}Работа{% endblock %}
{% block page_header %}Работа{% endblock %}

{% block content %}

<center>

  <label class="checkbox-inline">
    <input class="show_works" type="checkbox" checked data-toggle="toggle"  data-off="3 последних<br />места" data-on="Все<br />места">
  </label>
  
  <hr />
  {% for work in object_list %}
    <div class="work">
      <a href="{{ work.company.organization_url }}" target="_blank">
        <img src="{% static "img/" %}{{ work.company.logo_file }}" width="{{ work.company.logo_width }}">
      </a>
      <a href="{% url 'organization' work.company.id %}">
        <h4>{{ work.company }}</h4>
      </a>
      <p>{{ work.specialization }}</p>
    <hr />
    </div>
  {% endfor %}
</center>

{% endblock %}
